main{
    background-color: #251e3e;
    height:60vh;
    position: relative;
    .main-outer {
        left:50%;
        transform: translateX(-50%);
        position: absolute;
        .search-here {
            float: left;
            .input-here {
                #search_field {
                    font-size: 4rem;
                    padding : 1rem;
                    letter-spacing: 2px;
                    margin : 3rem;
                    background-color: #3b364a;
                    color:wheat;
                    font-weight: bold;
                    border : solid 2px #3b364a;
                    border-radius : 2rem;
                    font-family: 'Prompt', sans-serif;
                    &::placeholder
                    {
                        font-family: 'Prompt', sans-serif;
                    }
               }

           }
       }
        .click-here {
            margin-top: 3rem;
            float: left;
            #search_button {
                font-size: 4rem;
                background-color: #3b364a;
                padding : 1rem;
                letter-spacing: 2px;
              
                color:white;
                font-weight: bold;
                border : solid 2px #3b364a;
                border-radius : 2rem;
                font-family: 'Prompt', sans-serif;
                &:hover {
                    cursor : pointer;
               }
           }
       }
   }
}
