.main
{   
     .result-outer
    {
        margin-top : 5rem;
        font-size:3rem;
        background-color: $color-header-footer;
        max-width :114rem;
        border : solid 2px wheat;
        padding : 1rem 3rem;
        border-radius: 2rem;
        font-family: 'Prompt', sans-serif;
        text-align: center;
        letter-spacing: 2px;
        animation-name: fade;
        animation-duration: 2s;
        min-width : 80rem;
        
        .town
        {
            
            font-weight :600;
            font-size: 8rem;
        }

        .country__region
        {
                width :100%;
                @include col1of2;
                
        }
        .condition
        {
            clear: both;
            content: "";
            font-weight: bolder;

        }
        
        .country-img
        {
            
            .country-flag
            {
               width :30rem;
               

            }
        }
    }
}